body {
  background-color: #fdfdfd;
  margin:0;

}

.header {
  background-color: /* #0e153a;*/  #39bdc8;
  font-family: 'Open Sans', sans-serif;
  /* margin: 1em; */
  max-width: 100%;
  height: 130px;
  padding: 45px 15px;
  text-align: center;
}

.typingEffect {
  background-color: #0e153a ;
  color: #22d1ee;
  font-size: 35px;
}

.womanSvg {
  max-width: 240px;
  height: auto;
  position: relative;
  top: -20px;
}

.rocket {
  max-width: 220px;
  height: auto;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: -100px 40px 0;
  /* z-index: 999; */
}

.main-container > div {
  /* align-self: flex-end; */
  align-items: flex-end;
  z-index: 99;
}

.tasks-container {
  border: 2px solid #ffffff;
  /* border: 2px solid #cabbe9; */
  background-color: rgba(21, 82, 99, 0.1);
  border-radius: 10px;
  padding: 10px 50px;
  min-height: 600px;
  max-width: 800px;
  position: relative;
  top: -7px;
  text-align: center;
}

.input-task {
  width: 100%;
  margin: 10px 0 60px 0;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-task > form > button > i {
  font-size: 55px;
  position: relative;
  top: 10px;
  color: #0e153a;
}

button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.input-task > form > button > i:hover {
  cursor: pointer;
}

input.TaskField {
  position: relative;
  z-index: 50; box-sizing: border-box;
  resize: vertical;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  /* margin-left: 5px; */
  line-height:40px;
  font-size: 25px;
  text-align: center;
}

.curve {
  width: 100%;
  /* position: absolute; */
  /* top: -100px; */
  /* bottom: 0; */
  /* top: 100%; */
}

.curved-div {
  background: #39bdc8;
  /* color: #FFF; */
  text-align: center;
  overflow: hidden;
}

.curved-div svg {
  display: block;
}

.curved-div.upper {
  background: #fff;
  /* height: 100%; */
}

.curved-div div {
  font-size: 20px;
  margin: 15% 0;
  height: auto;
  color: #0e153a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newTask {
  padding: 15px 20px;
  background-color: #fdac61;
  border: 1px solid #bf5caa;
  border-radius: 10px;
  margin: 5px 0;
  text-align: left;
  max-width: 600px;
  font-family: 'Comic Sans MS'
}

.newTask  span {
  /* text-align: left; */
}

.taskText {
  font-size: 22px;
  color: white;
    font: 400 20px/1.2 'Merienda One', Helvetica, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.done-icon {
  color: #17b978;
  margin: 0 5px;
}

.delete-icon {
  color: #e41749;
  /* margin: 0 100px; */
}

.delete-icon:hover {
  cursor: pointer;
}

.newTask input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
  height: 25px;
  width: 28px;
  left: -5px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 69px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid green
}


/* On mouse-over, add a grey background color */
.newTask input:hover ~ .checkmark {
  background-color: #39bdc8;
}
/* #83e85a */

/* When the checkbox is checked, add a blue background */
.newTask input:checked ~ .checkmark {
  background-color: #0e153a; /*#2196F3;*/
}

.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the checkmark when checked */
.newTask input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.newTask .checkmark:after {
  top: -4px;
  left: 8px;
  position: relative;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.newTask > label > i {
  margin: 0 20px 0 20px;
  font-size: 28px;
  position: relative;
  top: -2px;
}

@media screen and (max-width: 1160px) {
  .rocket {
    /* top: 100px; */
    position: relative;
  }

  .tasks-container {
    /* top: 120px; */
    position: relative;
  }

  .womanSvg {
    top: -200px;
  }
}

@media screen and (max-width: 930px) {
  .main-container {
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
  }

  .tasks-container {
    top: 0
  }

  .womanSvg {
    top: 20px;
  }
/*
  .rocket {
    top: 0px;
    position: relative;
  } */
}


@media screen and (max-width: 650px) {
  .tasks-container {
    padding: 10px;
  }

  .taskText {
    font-size: 20px;
  }

  .womanSvg {
    max-width: 200px;
  }

  .rocket {
    max-width: 150px;
    height: auto;
  }

  .checkmark {
    left: 17px;
  }

  .newTask {
    padding: 10px;
  }
}
